---
import HelloWorld from "../components/HelloWorld.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Page RAGM</title>
	</head>
	<body class="bg-primaryPurple">
		<h1 class="text-primaryRed"> Rodrigo Arturo Gonzalez Manrique</h1>
		<HelloWorld />
	</body >
</html>
